{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": [1, { "forbid": ["any", "array"]}]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
